.button {
  position: relative;
  width: 10rem;
  overflow: hidden;
  height: 3rem;
  padding:0.5rem;
  border-radius: 1.5rem;
  background: #032666;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgb(64, 70, 255) 10.8%,
    rgb(10, 57, 246) 94.3%
  );
  transition: all 0.475s;
}

/* ________ Hover Card ______________ */
.hovercard-client {
  background: #2cb5a0;
  width: 13rem;
  height:auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 1px;
  border: 4px solid #7cdacc;
  box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
  border-radius: 10px;
 
  color: #fff;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.hovercard-client:hover {
  transform: translateY(-10px);
}




/* _____________ */




