/* Coommon Button blue */
.Commonbuttonblue {
  display: inline-block;
  padding: 5px 12px;
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(to bottom right, #00c6ff, #0072ff);
  border: none;
  border-radius: 40px;
  box-shadow: 0px 4px 0px #0072ff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.Commonbuttonblue:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 0px #0072ff;
}

.Commonbuttonblue:active {
  transform: translateY(0px);
  box-shadow: none;
  background-image: linear-gradient(to bottom right, #0072ff, #00c6ff);
}

.Commonbuttonblue:before,
.Commonbuttonblue:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

.Commonbuttonblue:before {
  top: -3px;
  left: -3px;
  border-radius: 40px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
}

.Commonbuttonblue:after {
  bottom: -3px;
  right: -3px;
  border-radius: 40px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
}

/* --------------------------------------- */

/* view card  */
.commoncard {
  --bg: #e8e8e8;
  --contrast: #e2e0e0;
  margin-top: 50px;
  --grey: #93a1a1;
  position: relative;
  padding: 9px;
  background-color: var(--bg);
  border-radius: 35px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.commoncard-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: repeating-conic-gradient(
      var(--bg) 0.0000001%,
      var(--grey) 0.000104%
    )
    60% 60%/600% 600%;
  filter: opacity(10%) contrast(105%);
}

.commoncard-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 190px;
  height: 254px;
  background-color: var(--contrast);
  border-radius: 30px;
  /* Content style */
  font-size: 30px;
  font-weight: 900;
  color: #c7c4c4;
  text-align: center;
  font-family: monospace;
}
/* _______________________________ */

/* ________ Hover Card ______________ */
.hovercard-client {
  background: #2cb5a0;
  width: 13rem;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 1px;
  border: 4px solid #7cdacc;
  box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
  border-radius: 10px;

  color: #fff;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.hovercard-client:hover {
  transform: translateY(-10px);
}

/* _____________ */

/* ________ Hover Card colorless ______________ */
.hovercard-colorless {
  box-shadow: 0 6px 10px rgb(201, 205, 214);
  border-radius: 10px;

  color: #fff;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.hovercard-colorless:hover {
  transform: translateY(-10px);
}

/* _____________ */

/*   submit button   */

.submitbutton {
  height: 3rem;
  width: 130px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.submitbutton:hover {
  box-shadow: 0.5px 0.5px 150px #252525;
}

.type1::after {
  content: "SUBMITED!";
  height: 3rem;
  width: 135px;
  background-color: #315cfd;
  color: #fff;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(50px);
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.type1::before {
  content: "Submit";
  height: 3rem;
  width: 130px;
  background-color: hsl(182, 100%, 50%);
  color: #000000;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(0px) scale(1.2);
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.type1:hover::after {
  transform: translateY(0) scale(1.2);
}

.type1:hover::before {
  transform: translateY(-50px) scale(0) rotate(120deg);
}
/* ___________________________ */
