.row-height {
  height: 1rem !important;
}
.row-height-head {
  height: 3rem !important;
}

.table .cell-padding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.table .cell-padding-right {
  padding-right: 1rem;
}

.table .cell-padding-left {
  padding-left: 1rem;
}

.table > :not(caption) > * > * {
  padding: 0px;
}
